@model COBACoursePlanner.Models.MajorSelectViewModel

@{
    ViewData["Title"] = "UNR College of Business Course Planner";
}

<h1>UNR College of Business Course Planner</h1>


<form asp-controller="" asp-action="Index" method="get">
    <p>
        <select asp-for="Major" asp-items="Model.Majors">
        </select>
        <input type="submit" value="Search" />
    </p>
</form>
@{
    int classIndex = 0;
    int classMax =  5;
}

@if (Model.ClassesForMajors.Count() > 0)


    @for (int year = 1; year <= 4; year++)
    {
        <h2>Year @year.ToString()</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Fall Semester
                    </th>
                </tr>
            </thead>
            <tbody>

                @while (classIndex < classMax  && classIndex < Model.ClassesForMajors.Count())
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassDesc)
                        </td>
                    </tr>
                    classIndex++;

                 }
                @{ classMax += 5;}
                

            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Spring Semester
                    </th>
                </tr>
            </thead>
            <tbody>
                @while (classIndex <= classMax && classIndex < Model.ClassesForMajors.Count())
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassDesc)
                        </td>
                    </tr>
                    classIndex++;
                 }
                @{ classMax += 5;}
            </tbody>
        </table>
    }
