@model COBACoursePlanner.Models.MajorSelectViewModel

@{
    ViewData["Title"] = "UNR College of Business Course Planner";
}

<h1>UNR College of Business Course Planner</h1>

<br />


<form asp-controller="" asp-action="Index" method="get">
    <p>
        <select asp-for="Major" asp-items="Model.Majors">
        </select>
        <input type="submit" value="Search" />
    </p>
</form>
@{
    int classIndex = 0; //Index for Major Specific Classes
    int classMax =  5;
    bool prebusinessDone = false;
    int prebusIndex = 0; //Index for General Business Classes
    int prebusMax = 5;
}

@if (Model.ClassesForMajors.Count() > 0)


@for (int year = 1; year <= 4; year++)
{
<h2>Year @year.ToString()</h2>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th colspan="3">
                Fall Semester
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            <strong>Course ID</strong>
        </td>
        <td>
            <strong>Course Description</strong>
        </td>
        <td>
            <strong>Prerequisites</strong>
        </td>
    </tr>
    <tbody>
        @while (prebusIndex < prebusMax && prebusIndex < Model.PrebusinessList.Count())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrebusinessList[prebusIndex].ClassID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrebusinessList[prebusIndex].ClassDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrebusinessList[prebusIndex].Prereqs)
                </td>
            </tr>
            prebusIndex++;


        }
        @{prebusMax += 5;}

        @if (prebusinessDone == true)
        {
            while (classIndex < classMax && classIndex < Model.ClassesForMajors.Count())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].Prereqs)
                    </td>
                </tr>
                classIndex++;

            }
            classMax += 5;
        }
        else
        {
            @if (prebusIndex == Model.PrebusinessList.Count())
             {  
                prebusinessDone = true;
                
             }
        }




    </tbody>
</table>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th colspan="3">
                Spring Semester
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            <strong>Course ID</strong>
        </td>
        <td>
            <strong>Course Description</strong>
        </td>
        <td>
            <strong>Prerequisites</strong>
        </td>
    </tr>
    <tbody>
        @while (prebusIndex < prebusMax && prebusIndex < Model.PrebusinessList.Count())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrebusinessList[prebusIndex].ClassID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrebusinessList[prebusIndex].ClassDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrebusinessList[prebusIndex].Prereqs)
                </td>
            </tr>
            prebusIndex++;
            

        }
        @{prebusMax += 5;}

        @if (prebusinessDone == true)
        {
            while (classIndex < classMax && classIndex < Model.ClassesForMajors.Count())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].ClassDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ClassesForMajors[classIndex].Prereqs)
                    </td>
                </tr>
                classIndex++;

            }
            classMax += 5;
        }
        else
        {
            @if (prebusIndex == Model.PrebusinessList.Count())
            {
                prebusinessDone = true;
                
            }
        }
    </tbody>
</table>
<br />

    }
